<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ride.name %>
</p>

<p>
  <b>Description:</b>
  <%= @ride.description %>
</p>


<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
